body {
    background-color: #FFF;
font-family: 'Cambay', sans-serif;
    margin: 0;
}
#first{
    height: 100vh;
    position: fixed;
    background-color: rgba(255,255,255, 0.8);
    width: 100%;
    z-index: 1;
    margin: 0;
}
#middle a{
    text-decoration: none;
    color: #FFF;
}
a #enter{
    margin-bottom: 20px;
}
#middle{
    width: 50%;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    text-align: center;
    overflow:auto;
}
#langbtn{
    position: absolute;
    top:0;
    right:30px;
    overflow: visible;
    z-index: 2;
    cursor: pointer;
}
#langbtn img{
    height: 20px;
    margin-top: 10px;
}
#langbtn #arrow{
position: absolute;
    top: 10px;
    color: lightgrey;
    font-size: 20px;
    margin-left: 5px;
}
#langbtn #eng{
    height: 20px;
    width: 20px;
    display: none;
}
#langbtn #engflag{
margin: 0;
height: 20px;
}

#middle p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin-bottom: 20px;
/*padding: 120px 20px;*/
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#navbar {
    background-color: #FFF;
    z-index: 0;
    margin: 0;
    padding: 0 20px;
}
#navbarNav{
     justify-content: flex-end;
    height: 100%;
}
#navbarNav a{
    color: #C62828;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
#navbarNav a:hover{
    color: #FFF;
    background-color: #B71C1C;
    transition: 0.4s;
}
#navbar .activated{
    color: #FFF;
    background-color: #B71C1C;
    transition: 0.4s;
}
#top{
    margin-left: 30px;
    display: inline;
}
#top a{
    color: #B71C1C;
}
#top .fa{
    font-size: 50px;
}
header {
    position: relative;
    width: 100%;
    background: url("../img/header.jpg") center top no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

header #welcome {
    position: absolute;
    color: #FFF;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
     font-family: 'Cormorant', serif;
    font-weight: 700;
    padding: 50px 0;/
}
#maskplease{
    height: 100%;
        width:100%;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    padding: 0;
}
#welcome h1, #welcome h2{
    font-weight: 300;
    font-size: 100px;
    margin: 0;
    padding: 0;
}

span {
    color: #B71C1C;
    font-weight: bold;
}
h2{
    font-weight: bold;
}
#welcome h2 {
    font-size: 50px;
}

#opis {
    width: 100%;
    margin: 0;
    height: 800px;
}

#aboutme{
    overflow: hidden;
    background-color: #f9fcfe;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(163,163,163,1);
-moz-box-shadow: 0px 10px 5px 0px rgba(163,163,163,1);
box-shadow: 0px 10px 5px 0px rgba(163,163,163,1);
 margin: 20px 0; 
}
#aboutme{
    text-align: center;
    padding: 60px 0;
    padding-right: 100px;
}
#aboutme h2, #kompphotos h2, #umie h2{
    font-size: 30px;
    }
#aboutme h2{
        padding-bottom: 20px;
    }
#aboutme h6{
    font-weight: 600;
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px;
}
#aboutme #aboutmecont{
    text-align: center;
    justify-content: flex-end;
    margin: 20px 0;
}
#aboutme #aboutmecont p {
text-align: left;
    font-size: 20px;
}

#aboutme figure img{
    height: 350px;
}
#aboutme .aboutmeborder{
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: #EF5350;
    border-top-color: transparent;
    border-bottom-color: transparent;
    padding: 0;
    
}
#skills{
text-align: center; 
padding: 40px 100px;
}
#skills h2, #skills p{
    padding: 20px 0;
}
#skills #icons{
    justify-content: flex-end;
    padding: 20px 180px;
        
}
#skills .imgic{
    padding: 0;
/*    margin: 0px 10px;*/
    transition: all 0.4s;
    
}
#skills .imgic4 .jquery{
height: 70px;
margin-top: 7px;
}
#skills .imgic5 .bootstrap{
    height: 72px;
    margin-top: 7px;

}
#skills .imgic1:hover{
    color: orangered;
    transform: scale(1.5);
}
#skills .imgic2:hover{
    color: cadetblue;
    transform: scale(1.5);
}
#skills .imgic3:hover{
    color: gold;
    transform: scale(1.5);
}
#skills .imgic4:hover{
        color: #ff5757;
    transform: scale(1.5);
}
#skills .imgic5:hover{
    color: #62488a;
    transform: scale(1.5);
}
#skills .imgic6:hover{
    color: mediumpurple;
    transform: scale(1.5);
}
#skills .bootstrapcolor{
    border: 1px solid;
}
#skills figcaption{
    font-size: 14px;
}
#kompphotos{
    text-align: center;
    padding: 60px 30px;
}
#kompphotos h2{
    padding-bottom: 40px;
}
#kompphotos .projects{
    margin-bottom: 20px;
}
#kompphotos .projects2{
    display: flex;
    justify-content: center;
}
#kompphotos a{
    color: #FFF;
}
#kompphotos .trzyob h3{
    padding-top: 15px;
}
#kompphotos .trzyob{
    height: 375px;
    padding: 0;
}
#kompphotos .trzyob.first{
    background: url(../img/portfolio2.gif) center center no-repeat;
    background-size: cover;
}
#kompphotos .trzyob.second{
background: url(../img/scroll.gif) center center no-repeat;
background-size: cover;
}
#kompphotos .trzyob.third{
    background: url(../img/kalkulatorgif.gif) center center no-repeat;
background-size: cover;
}
#kompphotos .trzyob.fourth{
    background: url(../img/freya.gif) center center no-repeat;
background-size: cover;
}
#kompphotos .trzyob.fifth{
    background: url(../img/teatr.gif) center center no-repeat;
background-size: cover;
}
#kompphotos .trzyob.sixth{
      background: url(../img/wildflyergif.gif) center center no-repeat;
background-size: cover;  
}
.sr{
    height: 100%;
    
}
.transp:hover{
    opacity: 1;
}

.transp{
    background-color: rgba(183,28,28,0.6);
    padding: 5px;
    transition: all 0.4s;
    opacity: 0;
}
.border{
    border: 2px solid white;
    height: 100%;
    position: relative;
    padding: 5px;
}
.content{
    color:#FFF;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%
}
#contact{
/*    background-color: rgba(255,255,255,0.8);*/
    height: 100%;
    width: 100%;
}
#footing{
    text-align: center;
        background: url(../img/phone.jpeg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 30px;
    margin: 0;
    padding: 70px 120px;
}
#info{
    text-align: left;

}
#info h2, #dane address{
    color: #000;
    font-weight: 300;
}
#info h2{
    font-size: 50px;
    padding-top: 20px;
}
#info address, #dane address a
{
    font-size: 25px;
    font-style: normal; 
}
#info address a{
    color: #B71C1C;
    font-weight: bold;
}
#paths a{
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    color: #000;
    height: 80px;
    line-height: 80px;
    width: 80px;
}
#paths a:hover{
    color: #EF5350;
    transition: 0.4s;
}
#footing form{
/*    background-color: #213b50;*/
    padding-top: 20px;
}
#footing form p{
    color: #000;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}
input, textarea{
    border: none;
    padding: 5px;
    font-family: 'Lato';
}
form input[type='text'], form input[type='email'], form textarea{
    width: 100%;
    background-color: #a00400;
    color: #FFF;
}
form input[type='submit']{
    float: right;
    font-size: 10px;
    background-color: #B71C1C;
    color: #FFF;
    font-family: "Roboto";
    font-weight: bolder;
    border: 1px solid white;
    padding: 10px 30px;
}
form input[type='submit']:hover{
    background-color: #EF5350;
    transition: 0.4s;
}
form input:focus,
textarea:focus {
    background-color: #EF5350;
    border: 1px solid #FFF;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.2);
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.2);
}
input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.2);
}
input:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.2);
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.2);
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.2);
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.2);
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.2);
}
footer{
    text-align: left;
    background-color: #ef5350;
    color: white;
    margin: 0;
    padding: 8px 100px;
}
.clear{
    clear: both;
}
#niepatrz{
    display: inline;
    cursor: pointer;
    width: 10%
}
#hidden{
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
#hidden #ukryty{
    float: right;
    height: 350px;
    width:  18%;
    overflow: visible;
    text-align: center;
}
#hidden span{
    display: inline-block;
    text-align: center;
    margin-left: 130px;
    margin-top: 200px; 
    width: 60%;
    font-size: 25px;
    color: #000;
    background-color: #FFF;
    border-color: transparent;
    border-radius: 30%;
    height: 80px;
    border-style: solid
}
#hidden .bur{
    height: 100%;
    opacity: 1;
}
#hidden .img{
background: url(../img/buraczek.png) center center no-repeat;
background-size: cover;
}
#hidden .mask{
opacity: 0;
background: url(../img/maskaburaczek.png) center center no-repeat;
background-size:cover;
}
#hidden .mask:hover{
 opacity: 0.6;   
}
#hidden:focus .mask{
 opacity: 0.6;
    
}

#hidden #tekst{
    color: #FFF;
    padding-left: 80px;
    padding-top: 200px;
    font-size: 20px;
}