*{
    margin: 0;
    box-sizing: border-box;
}
#gora{
    position: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
#hidden{
    background-color: #FFF;
    height: 0px;
    overflow: hidden;
}
#border{
    border: 3px solid #B71C1C;
    border-top: 0;
    margin: 5px 5px;
    margin-top: 0;
}
#coto{
   background-color: #B71C1C;
    line-height: 40px;
    padding: 0 10px;
    color: #FFF;
    width: 8%;
    position: fixed;
    font-family: 'Lato';
}
#coto a{
    text-decoration: none;
    color: #FFF;
}
#coto a:hover{
    color: midnightblue;
}


#content, #gif{
    width: 40%;
    display: inline-block;
}
    
#why{
    background-color: #B71C1C;
    color: #FFF;
    width:100%;
  height:100%;  
  display: table;
    font-size: 22px;
    padding: 10px 5px;
}
#gif{            
background: url("../img/ezgif.com-video-to-gif%20(1).gif") center top no-repeat;
background-size: contain;
height: 250px;
margin-top: 20px;
}
#back a{
    line-height: 100px;
    background-color: #B71C1C;
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 20px; 
    padding: 5px 5px;
}

#powiesc {
  width: 100%;
  height: 100vh;
  overflow: auto;
 font-size: 25px;
font-family: 'Special Elite', cursive;
background-color: #FFFEC1;
}
.first{
    text-align: center;
}
.second{
    text-align: left;
}
.third{
    text-align: right;
}
.fourth{
    text-align: center;
    padding-left: 40px;
}
.fifth{
    text-align: center;
    padding-right: 80px;
}
.sixth{
    text-align: center;
    padding-left: 60px
}
.eighth{
    text-align: left;
    padding-left: 40px;
}
.nineth{
    text-align: left;
    padding-right: 80px;
}
.tenth{
    text-align: left;
padding-left: 60px
}
.eleventh{
    text-align: right;
    padding-left: 40px;
}
.twelveth{
    text-align: right;
    padding-right: 80px;
}
.thirteenth{
    text-align: right;
padding-left: 60px
}